* {
  background-color: black;
  color: white;
}

/* test to fix pending page color issue  */

.bzRnkJ {
  background-color: black !important; 
  color: white !important;
  /* width: 100%; */
}

/* CRA supplied  */
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* End CRA supplied  */

/* Nav Bar  */

nav {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  /* set padding to % for now, may change  */
  padding: 4%;
}